<h3>Home</h3>

Hi there! :)

<ul>
  <li><%= link_to 'Download Server Logs Tail', logs_path(lines: 10000) %></li>
  <li><%= link_to 'Show Server Logs Tail', logs_path(lines: 1000, show: true) %></li>
</ul>
